[submodule "RFdiffusion"]
	path = repositories/active/RFdiffusion
	url = https://github.com/RosettaCommons/RFdiffusion.git
[submodule "litefold-source"]
	path = repositories/active/litefold/source
	url = https://github.com/Anindyadeep/litefold.git
